#titulo_principal{
    background-color: #71706e;
    color: rgb(254, 254, 254);
}
    .titulo_segundario{
        
    background-color: #2F4F2F;
    color: white;
}
    .h4{
    background-color: #2F4F2F;
    color: white;
    }


 