#titulo_principal{
    background-color: #6e4b04;
    color: rgb(254, 254, 254);
}
    .titulo_segundario{
        
    background-color: #657065;
    color: white;
}
    .h4{
    background-color: #7d897d;
    color: white;
    }


 