@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#titulo_principal{
    background-color: #b48b3a;
    color: rgb(254, 254, 254);
}
    .titulo_segundario{
        
    background-color: #657065;
    color: white;
}
    .h4{
    background-color: #7d897d;
    color: white;
    }

    body {
        background-color: black;
        color: white;
        font-family:"Roboto", sans-serif;
        font-size: 16px;
    }
    
    #layout{
        font-size: 1em;
        display: flex;
        font-style: normal;
        line-height: 30px ;
        font-weight: 900;
        text-transform: none;
    }

 